/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

.row{
    padding-left: 15px;
}

.footer{
    margin-top: 15px;
}

.table-input{
    width: 170px;
}

.table-label-medium{
    width: 80px;
}


.table-label-small{
    width: 20px;
}

.elementshown{
    color:blue;
}