<!doctype html>
<html>
    <head>
        <link href="styles/main.css" rel="stylesheet">



    </head>
    <body>
        <div ng-app="optionsApp" ng-csp>
            <div ng-controller="OptionsCtrl">
                <h1>Options with angular</h1>

                <label>Shortcut key</label>
                <input  ng-model="options.shortcutKey" type="text" placeholder="shortcut key" />
                <br>
                <h2>Expanders</h2>
                <p ng-repeat="shortcut in options.shortcuts">
                    Expand <input ng-model="shortcut.key" type="text" placeholder="your key" /> to
                    <input  ng-model="shortcut.value" type="text" placeholder="your full value">
                </p>

                <div id="status"></div>
                <button  ng-click="AddShortcut()">Add Shortcut</button>
                <button  ng-click="Save()">Save</button>
                <a href="mailto:jsturtevant@gmail.com" target="_top">Send Feedback</a>
            </div>
        </div>
    </body>

    <script src="bower_components/angular/angular.min.js"></script>
    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
</html>
